<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="cpu_dashboard" style="width: 100%;height:360px;"></div>
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('cpu_dashboard'));

        // 声明有关CPU数据的全局变量
        var cpu_data = {{ data.cpu_data|safe }};
        var cpu_date = {{ data.cpu_date|safe }};

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'CPU'
            },
            tooltip: {},
            legend: {
                data:['使用率']
            },
            xAxis: {
                data: cpu_date
            },
            yAxis: {},
            series: [{
                name: '使用率',
                type: 'line',
                data: cpu_data
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
</body>
</html>

<script>
//声明存储系统信息的全局变量
    var server_info

//返回格式化的时间(HH:MM)
        function getCurrentTime(){
		var dtCur = new Date();
		var hCur = dtCur.getHours();
		var mCur = dtCur.getMinutes();
		timeCur = (hCur < 10 ? "0" + hCur : hCur) + ":" + (mCur < 10 ? "0" + mCur : mCur);
		return timeCur;
	}
//返回格式化的时间(HH:MM:SS)
        function getCurrentTime_seconds(){
		var dtCur = new Date();
		var hCur = dtCur.getHours();
		var mCur = dtCur.getMinutes();
		var sCur = dtCur.getSeconds();
		timeCur = (hCur < 10 ? "0" + hCur : hCur) + ":" + (mCur < 10 ? "0" + mCur : mCur) + ":" + (sCur < 10 ? "0" + sCur : sCur);
		return timeCur;
	}
// 定时使用异步获取系统信息
        timeTicket = setInterval(function () {
        $.ajax({
            type:'GET',
            url:'/admin/server-info-api',
            dataType:'json',
            success:function(json)
                {
                    server_info = eval(json);
                    cpu_date.push(getCurrentTime());
                    cpu_data.push(server_info.cpu);
                    myChart.setOption({
                    xAxis: {
                        data: cpu_date
                    },
                    series: [{
                        name:'',
                        data: cpu_data
                    }]
                });
                }
        });
    }, 60000);
</script>