<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
</head>
<body>
<div id="d"></div>
<div id="dd"></div>
<div id="ddd"></div>
<script>
    var server_name_list = {{ ping_results.server_name|safe }}
    var server_ip_list = {{ping_results.server_ip|safe}}
    var ping_result_list = {{ ping_results.ping_result|safe}}
    document.getElementById('d').innerHTML = server_name_list[0]
    document.getElementById('dd').innerHTML = server_ip_list[0]
    document.getElementById('ddd').innerHTML = ping_result_list[0]
</script>

</body>
</html>